
  <div class="lab-container">

      <mat-card-title>Lab {{lab.name}}:</mat-card-title>
      <p>Main stack:{{lab.main_stack}} </p>
      <p>Date : {{lab.date}}</p>
      <p>{{lab.isDone?"Done":"Not done"}} <mat-checkbox class="example-margin" [(ngModel)]="lab.isDone"></mat-checkbox></p>
      <p *ngIf='lab.review.reviewText=="";else elseBlock' class="form-review">

        <mat-form-field appearance="fill" [formGroup]="ReviewForm">
          <mat-label>Leave your review here</mat-label>
          <textarea matInput formControlName="ReviewText" ></textarea>
        </mat-form-field>
        <mat-form-field appearance="fill" [formGroup]="ReviewForm">
          <mat-label>Leave your score here</mat-label>
          <input matInput formControlName="Score" >
        </mat-form-field>
        <button mat-button color="primary" (click)="OnLeaveReview()">Leave review</button>
      </p>
      <ng-template #elseBlock>
        <p>Review: {{this.lab.review.reviewText}}</p>
        <p>Score: {{this.lab.review.score}}</p>
        <p><button mat-button color="warn" (click)="onDeleteReview()">Delete review</button></p>
      </ng-template>
      <p><button mat-button color="warn" (click)="onDeleteLab()">Delete lab</button></p>

  </div>



